

/* styles.css */


.scroll-pane{
  -fx-background-color: transparent;
  -fx-padding: 0px;
}
.scroll-pane .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-visibility: hidden;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-visibility: hidden;
}




/* styles.css */
.table-view {
    -fx-background-color: transparent;
    -fx-background-color:  rgba(0, 0, 0, 0.4);
         -fx-border-color:  rgba(0, 0, 0, 0.4);
             -fx-border-radius: 5px 5px 5px 5px;
            -fx-border-width: 3px; /* Border width */
            -fx-font-size: 14px;
}


.table-view .column-header {
    -fx-background-color:  rgba(0, 0, 0, 0.4);
}


.table-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}
.custom-button {
    -fx-background-color: transparent;
     -fx-text-fill: white;
     -fx-font-size: 13px;
      -fx-font-weight: bold;
     -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.0) , 0, 0.0 , 0 , 0);
     -fx-border-style: solid inside;
     -fx-border-width: 0 0 0 0;
}

.custom-button:hover {
    -fx-background-color:#E21B70;
     -fx-background-radius:10px;
    -fx-text-fill:  black;
     -fx-border-style: solid inside;
     -fx-border-width: 0 0 0 0;
     -fx-border-color:white;
}


.custom-table-view {
    -fx-border-color:  rgba(0, 0, 0, 0.4);
     -fx-border-radius: 5px 5px 5px 5px;
    -fx-border-width: 3px; /* Border width */
}
.custom-table-view .column-header {
    -fx-background-color: green;
}

#custom-table .custom-table-row-cell {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}


.custom-image-view {
    -fx-background-color: transparent;
    -fx-border-width: 2px; /* Adjust border width */
    -fx-border-color: black; /* Adjust border color */
    -fx-border-radius: 0 0 100 100; /* Create semi-circle border */
    -fx-background-radius: 0 0 100 100; /* Clip the ImageView to a semi-circle */
}


.customForItem-Buttons{
     -fx-background-color: white;
     -fx-background-radius: 20px;
     -fx-border-radius: 20px;
     -fx-border-color: #E21B70;
      -fx-border-width: 1px;;
     -fx-font-size: 13px;
      -fx-text-fill:  black;
     -fx-font-weight: bold;
}
.customForItem-Buttons:hover {
    -fx-background-color:  #E21B70;
    -fx-text-fill:  white;
     -fx-border-style: solid inside;
     -fx-border-width: 0 0 0 0;
     -fx-border-color:white;
}

.custom-SearchButton:hover {
         -fx-scale-x: 1.1; /* Increase size on hover */
         -fx-scale-y: 1.1; /* Increase size on hover */

}






